body {
display:block;
padding:50px;
}

#bars {

width:500px;
}

.jumbotron{

height:750px;

}
#img
{
height:25px;
}
#login
{
background:;
}
#login
{
padding:0px;
}
#try {

background-color:#66B9B9;
width:1000px;
height:350px;
}

#main {

height:450px; 
}

